
body {
    background-color: lavenderblush;
}

.hr {
    border: 1px solid grey;
    width: auto;
    height: 2px;
}

.responsive {
    width: 80%;
    height: auto;
    margin-top: 58px;
}

.pammi-img {
    background-color: lavenderblush;
}


.img {
    width: 80%;
    height: auto;
    margin-top: 58px;
}

.img-pammi {
    margin-top: 65px;
}

.top-services {
    margin-top: 60px;
}

.fb-link {
    margin-top: 60px;
}

.addr {
    margin-top: 60px;
}

#slider1_container {
    visibility: hidden;
    position: relative;
    margin: 0 auto;
    width: 800px;
    height: 442px;
    overflow: hidden;
}

#slider2_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 800px;
    height: 442px;
    overflow: hidden;
}